/*
	@package wakerlytheme
*/
#wpcontent { font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif; font-weight: 300; }
h1, h2, h3, h4, h5, .form-table th, .form-wrap label { font-weight: 500; }

.wakerly-general-form,
.wakerly-sidebar-preview { display: inline-blog; float: left; }

.wakerly-sidebar-preview { width: 280px; background-color: #1F1F1F; padding: 20px; text-align: center; margin-right: 20px; }
.wakerly-sidebar { display: block; text-align: center; }
h1.wakerly-username, 
h2.wakerly-description { font-weight: 100; color: #fff; }
h1.wakerly-username { font-size: 24px; margin: 0 0 10px; }
h2.wakerly-description { font-size: 13px; margin: 0 0 20px; }

.wakerly-icon-sidebar { color: rgb(255, 255, 255); margin: 0 2px;}
.wakerly-icon-sidebar:before { width: 22px; height: 22px; font-size: 22px; }
.wakerly-icon-sidebar--gplus { margin-left: 8px; }

.wakerly-icon-button:before { margin-top: 3px; margin-left: -3px; }

.image-container { display: block; width: 100%; overflow: hidden; text-align: center; }
.profile-picture { width: 122px; height: 122px; overflow: hidden; border-radius: 50%; margin: 20px auto; background-position: center center; background-repeat: no-repeat; background-size: cover; }