@charset "UTF-8";
/*
	@package wakerlytheme
*/
/*
	Import
	------------------------------------------------
*/
/*
	@package wakerlytheme
*/
/*
	Variables
	------------------------------------------------
*/
/*
	@package wakerlytheme
*/
/*
	Mixins
	------------------------------------------------
*/
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
/*
	@package wakerlytheme
*/
/*
	Placeholder
	------------------------------------------------
*/
.new_header-container, .header-container, .wakerly-format-image .entry-header, .wakerly-format-gallery .carousel-control {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.entry-excerpt.image-caption {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
  /* IE6-9 */ }

/*
	@package wakerlytheme
*/
/* 
	Font Icon 
	------------------------------------------------
*/
@font-face {
  font-family: 'kreonbold';
  src: url("../fonts/kreon-bold-wakerly.eot");
  src: url("../fonts/kreon-bold-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/kreon-bold-wakerly.woff2") format("woff2"), url("../fonts/kreon-bold-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kreonlight';
  src: url("../fonts/kreon-light-wakerly.eot");
  src: url("../fonts/kreon-light-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/kreon-light-wakerly.woff2") format("woff2"), url("../fonts/kreon-light-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'kreonregular';
  src: url("../fonts/kreon-regular-wakerly.eot");
  src: url("../fonts/kreon-regular-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/kreon-regular-wakerly.woff2") format("woff2"), url("../fonts/kreon-regular-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-bold-wakerly.eot");
  src: url("../fonts/ubuntu-bold-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-bold-wakerly.woff2") format("woff2"), url("../fonts/ubuntu-bold-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntubold_italic';
  src: url("../fonts/ubuntu-bolditalic-wakerly.eot");
  src: url("../fonts/ubuntu-bolditalic-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-bolditalic-wakerly.woff2") format("woff2"), url("../fonts/ubuntu-bolditalic-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntuitalic';
  src: url("../fonts/ubuntu-italic-wakerly.eot");
  src: url("../fonts/ubuntu-italic-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-italic-wakerly.woff2") format("woff2"), url("../fonts/ubuntu-italic-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-wakerly.eot");
  src: url("../fonts/ubuntu-light-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-light-wakerly.woff2") format("woff2"), url("../fonts/ubuntu-light-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight_italic';
  src: url("../fonts/ubuntu-lightitalic-wakerly.eot");
  src: url("../fonts/ubuntu-lightitalic-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-lightitalic-wakerly.woff2") format("woff2"), url("../fonts/ubuntu-lightitalic-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-wakerly.eot");
  src: url("../fonts/ubuntu-medium-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-medium-wakerly.woff2") format("woff2"), url("../fonts/ubuntu-medium-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium_italic';
  src: url("../fonts/ubuntu-mediumitalic-wakerly.eot");
  src: url("../fonts/ubuntu-mediumitalic-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-mediumitalic-wakerly.woff2") format("woff2"), url("../fonts/ubuntu-mediumitalic-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-wakerly.eot");
  src: url("../fonts/ubuntu-regular-wakerly.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-regular-wakerly.woff2") format("woff2"), url("../fonts/ubuntu-regular-wakerly.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'wakerly-icon';
  src: url("../fonts/wakerly-icon.eot?o1l4o7");
  src: url("../fonts/wakerly-icon.eot?o1l4o7#iefix") format("embedded-opentype"), url("../fonts/wakerly-icon.ttf?o1l4o7") format("truetype"), url("../fonts/wakerly-icon.woff?o1l4o7") format("woff"), url("../fonts/wakerly-icon.svg?o1l4o7#wakerly-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
.wakerly-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wakerly-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wakerly-twitter:before {
  content: "\e900"; }

.wakerly-googleplus:before {
  content: "\e901"; }

.wakerly-facebook:before {
  content: "\e902"; }

.wakerly-audio:before {
  content: "\e800"; }

.wakerly-chevron-left:before {
  content: "\e801"; }

.wakerly-chevron-right:before {
  content: "\e802"; }

.wakerly-close:before {
  content: "\e803"; }

.wakerly-comment:before {
  content: "\e804"; }

.wakerly-link:before {
  content: "\e805"; }

.wakerly-loading:before {
  content: "\e806"; }

.wakerly-logo:before {
  content: "\e807"; }

.wakerly-menu:before {
  content: "\e808"; }

.wakerly-pencil:before {
  content: "\e809"; }

.wakerly-pics:before {
  content: "\e80a"; }

.wakerly-search:before {
  content: "\e80b"; }

.wakerly-share:before {
  content: "\e80c"; }

.wakerly-tag:before {
  content: "\e80d"; }

.wakerly-video:before {
  content: "\e80e"; }

/*
	@package wakerlytheme
*/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.aligncenter {
  width: 100%;
  height: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/*
  @package wakerlytheme
*/
/*
Images
*/
.santa {
  display: block;
  position: relative;
  width: 218px;
  height: 327px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: url("../img/santa.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  background-color: rgba(222, 222, 222, 0);
  border-color: rgba(222, 222, 222, 0); }

.logo {
  display: block;
  position: relative;
  width: 137px;
  height: 95px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left left;
  background-color: rgba(222, 222, 222, 0);
  border-color: rgba(222, 222, 222, 0); }

.logo:hover {
  border-color: rgba(222, 222, 222, 0); }

.logo:focus {
  outline: 0; }

/* 
 Sections
*/
.check {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  background-image: url("../img/bigcheck.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  background-color: #494471; }

.ex {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  background-image: url("../img/bigx.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  background-color: #b62f52; }

.main_section {
  text-position: center;
  position: relative;
  float: left;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 10px;
  padding-bottom: 80px;
  border-left-width: 1px;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: #343151;
  border-left-color: black;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-image: url("../img/bg1.png");
  background-size: cover;
  background-position: center center;
  background-color: #494471; }

.blue_section {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg3.png");
  background-size: auto auto;
  background-position: center center; }

.element {
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-top-width: 10px;
  border-top-color: #343151;
  border-top-style: solid;
  background-color: rgba(73, 68, 113, 0.93);
  padding-top: 20px;
  padding-bottom: 20px; }

.yellow_section {
  float: left;
  clear: both;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-haha.png");
  background-size: auto auto;
  background-position: center center;
  background-color: #f8d662;
  padding-top: 20px;
  padding-bottom: 20px; }

.white_section {
  float: left;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-haha.png");
  background-size: cover;
  background-position: center center;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px; }

.red_section {
  float: left;
  clear: both;
  width: 100%;
  height: 100%;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-top-color: #8d2540;
  border-bottom-color: #b62f52;
  border-top-style: solid;
  border-bottom-style: solid;
  background-image: url("../img/b2.png");
  background-size: auto auto;
  background-position: left top;
  padding-top: 20px;
  padding-bottom: 20px; }

.dark_section {
  float: left;
  clear: both;
  width: 100%;
  height: 100%;
  background-size: auto auto;
  background-position: left top;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #373646; }

/*
  Button
  ------------------------------------------- 
*/
.wakerly_button {
  display: block;
  position: relative;
  width: 29.6666666666%;
  height: 61px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: url("../img/button.png");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  background-color: rgba(222, 222, 222, 0);
  border-color: rgba(222, 222, 222, 0);
  font-family: kreonbold;
  font-size: 20px;
  text-align: center;
  color: white; }

.wakerly_button:hover {
  color: #7871aa; }

.wakerly_button:focus {
  outline: 0; }

/* 
 New Header 
  ------------------------------------------------
*/
.new_header-container {
  position: relative;
  display: block;
  height: 220px;
  background-color: #494471;
  background-image: url("../img/bg-haha.png"); }

.new_nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/* 
  New Nav Bar 
  ------------------------------------------------
*/
.new_navbar-wakerly {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background: #b62f52;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .new_navbar-wakerly ul {
    float: none; }
  .new_navbar-wakerly li {
    float: none;
    display: inline-block; }
    .new_navbar-wakerly li.active a {
      opacity: 1; }
      .new_navbar-wakerly li.active a:after {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
    .new_navbar-wakerly li.open a {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1) !important; }
      .new_navbar-wakerly li.open a:after {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0 !important; }
      .new_navbar-wakerly li.open a:hover, .new_navbar-wakerly li.open a:focus, .new_navbar-wakerly li.open a:visited {
        background-color: rgba(0, 0, 0, 0.1) !important; }
        .new_navbar-wakerly li.open a:hover:after, .new_navbar-wakerly li.open a:focus:after, .new_navbar-wakerly li.open a:visited:after {
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          -ms-transform: translateY(10px);
          -o-transform: translateY(10px);
          transform: translateY(10px);
          opacity: 0 !important; }
    .new_navbar-wakerly li a {
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      opacity: 0.7;
      letter-spacing: 0.05em;
      background: none;
      -webkit-transition: opacity 320ms ease;
      -moz-transition: opacity 320ms ease;
      -ms-transition: opacity 320ms ease;
      -o-transition: opacity 320ms ease;
      transition: opacity 320ms ease; }
      .new_navbar-wakerly li a:hover, .new_navbar-wakerly li a:focus, .new_navbar-wakerly li a:visited {
        background: none;
        opacity: 1; }
        .new_navbar-wakerly li a:hover:after, .new_navbar-wakerly li a:focus:after, .new_navbar-wakerly li a:visited:after {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          opacity: 1; }
      .new_navbar-wakerly li a:after {
        content: '';
        position: absolute;
        display: block;
        left: 15px;
        right: 15px;
        bottom: 14px;
        height: 2px;
        background: #fff;
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px); }
    .new_navbar-wakerly li ul.dropdown-menu {
      border: 0;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.75); }
      .new_navbar-wakerly li ul.dropdown-menu li {
        display: block; }
        .new_navbar-wakerly li ul.dropdown-menu li a:hover, .new_navbar-wakerly li ul.dropdown-menu li a:focus, .new_navbar-wakerly li ul.dropdown-menu li a:visited {
          background: rgba(0, 0, 0, 0.25) !important;
          color: #fff; }

/* 
	Generic 
	------------------------------------------------
*/
body {
  font-family: kreonbold; }

a {
  color: #494471;
  -webkit-transition: color 320ms ease;
  -moz-transition: color 320ms ease;
  -ms-transition: color 320ms ease;
  -o-transition: color 320ms ease;
  transition: color 320ms ease; }
  a:hover, a:focus {
    text-decoration: none;
    color: #333333; }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.table {
  display: table;
  width: 100%;
  height: 100%; }
  .table .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

/* 
	Header 
	------------------------------------------------
*/
.header-container {
  position: relative;
  display: block;
  height: 326px; }

.site-title {
  color: #fff;
  margin: 0;
  font-size: 80px; }

.site-description {
  font-size: 14px;
  color: #fff;
  margin-top: 1em; }

.nav-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

/* 
	Nav Bar 
	------------------------------------------------
*/
.navbar-wakerly {
  text-align: center;
  border: none;
  border-radius: 0;
  min-height: auto;
  margin-bottom: 0;
  background: #b62f52;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  .navbar-wakerly ul {
    float: none; }
  .navbar-wakerly li {
    float: none;
    display: inline-block; }
    .navbar-wakerly li.active a {
      opacity: 1; }
      .navbar-wakerly li.active a:after {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        opacity: 1; }
    .navbar-wakerly li.open a {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.1) !important; }
      .navbar-wakerly li.open a:after {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0 !important; }
      .navbar-wakerly li.open a:hover, .navbar-wakerly li.open a:focus, .navbar-wakerly li.open a:visited {
        background-color: rgba(0, 0, 0, 0.1) !important; }
        .navbar-wakerly li.open a:hover:after, .navbar-wakerly li.open a:focus:after, .navbar-wakerly li.open a:visited:after {
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          -ms-transform: translateY(10px);
          -o-transform: translateY(10px);
          transform: translateY(10px);
          opacity: 0 !important; }
    .navbar-wakerly li a {
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      opacity: 0.7;
      letter-spacing: 0.05em;
      background: none;
      -webkit-transition: opacity 320ms ease;
      -moz-transition: opacity 320ms ease;
      -ms-transition: opacity 320ms ease;
      -o-transition: opacity 320ms ease;
      transition: opacity 320ms ease; }
      .navbar-wakerly li a:hover, .navbar-wakerly li a:focus, .navbar-wakerly li a:visited {
        background: none;
        opacity: 1; }
        .navbar-wakerly li a:hover:after, .navbar-wakerly li a:focus:after, .navbar-wakerly li a:visited:after {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          opacity: 1; }
      .navbar-wakerly li a:after {
        content: '';
        position: absolute;
        display: block;
        left: 15px;
        right: 15px;
        bottom: 14px;
        height: 2px;
        background: #fff;
        -webkit-transition: all 320ms ease;
        -moz-transition: all 320ms ease;
        -ms-transition: all 320ms ease;
        -o-transition: all 320ms ease;
        transition: all 320ms ease;
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px); }
    .navbar-wakerly li ul.dropdown-menu {
      border: 0;
      border-radius: 0;
      background: rgba(0, 0, 0, 0.75); }
      .navbar-wakerly li ul.dropdown-menu li {
        display: block; }
        .navbar-wakerly li ul.dropdown-menu li a:hover, .navbar-wakerly li ul.dropdown-menu li a:focus, .navbar-wakerly li ul.dropdown-menu li a:visited {
          background: rgba(0, 0, 0, 0.25) !important;
          color: #fff; }

/* 
	Standard Post Format 
	------------------------------------------------
*/
article {
  padding-top: 40px;
  padding-bottom: 40px; }

h1 {
  font-size: 48px;
  font-weight: 200; }
  h1 a {
    color: #494471; }
  h1.entry-title {
    line-height: 1.5em;
    margin: 0;
    padding: 0; }
    h1.entry-title:before, h1.entry-title:after {
      content: '';
      display: inline-block;
      position: relative;
      color: #494471; }
    h1.entry-title:before {
      margin-right: 10px; }
    h1.entry-title:after {
      margin-left: 10px; }

.entry-meta {
  font-size: 13px;
  font-weight: 200;
  color: #494471;
  margin-bottom: 20px; }
  .entry-meta a {
    font-weight: 500;
    color: #494471; }
    .entry-meta a:hover, .entry-meta a:focus {
      color: #494471; }

.standard-featured-link {
  display: block;
  position: relative; }
  .standard-featured-link:hover .standard-featured:after, .standard-featured-link:focus .standard-featured:after {
    background-color: transparent; }

.standard-featured {
  height: 330px;
  display: block;
  position: relative; }
  .standard-featured:after {
    -webkit-transition: background-color 320ms ease;
    -moz-transition: background-color 320ms ease;
    -ms-transition: background-color 320ms ease;
    -o-transition: background-color 320ms ease;
    transition: background-color 320ms ease;
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35); }

.entry-excerpt {
  margin: 30px 0 16px; }
  .entry-excerpt p {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 0.02em; }

.button-container {
  margin-bottom: 30px; }

.btn-wakerly,
a.btn-wakerly,
.entry-content a.btn-wakerly {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  padding: 8px 12px;
  border-radius: 0;
  border: 1px solid #898989;
  background-color: transparent; }
  .btn-wakerly:hover, .btn-wakerly:focus,
  a.btn-wakerly:hover,
  a.btn-wakerly:focus,
  .entry-content a.btn-wakerly:hover,
  .entry-content a.btn-wakerly:focus {
    color: #ffffff;
    border-color: #333333;
    background-color: #333333; }

.entry-footer {
  padding: 10px 5px;
  border-bottom: 4px solid #F1F1F1;
  color: #898989;
  text-transform: uppercase; }
  .entry-footer a {
    color: #5e5791;
    display: inline-block;
    font-size: 12px; }
    .entry-footer a:hover, .entry-footer a:focus {
      color: #494471; }
  .entry-footer .tags-list .wakerly-icon {
    margin-right: 10px; }
  .entry-footer .tags-list a {
    padding: 0 4px; }
  .entry-footer .comments-link .wakerly-icon {
    margin-left: 10px; }

/* 
	Image Post Format 
	------------------------------------------------
*/
.wakerly-format-image .entry-header {
  height: 600px;
  position: relative; }
.wakerly-format-image h1,
.wakerly-format-image .entry-meta,
.wakerly-format-image .entry-header {
  color: #ffffff; }
  .wakerly-format-image h1 a,
  .wakerly-format-image .entry-meta a,
  .wakerly-format-image .entry-header a {
    color: #ffffff; }
.wakerly-format-image h1 {
  padding-top: 10px; }

.entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0; }
  .entry-excerpt.image-caption p {
    margin: 40px 0;
    font-size: 14px; }

/* 
	Audio Post Format 
	------------------------------------------------
*/
.wakerly-format-audio h1 {
  font-size: 30px; }
  .wakerly-format-audio h1.entry-title {
    display: inline-block;
    margin-right: 20px; }
    .wakerly-format-audio h1.entry-title:before, .wakerly-format-audio h1.entry-title:after {
      display: none; }
.wakerly-format-audio .entry-meta {
  display: inline-block;
  margin-bottom: 0; }
.wakerly-format-audio .entry-content iframe {
  width: 100%;
  height: 166px; }

/* 
	Video Post Format 
	------------------------------------------------
*/
.wakerly-format-video header h1.entry-title {
  margin-top: 20px; }

/* 
	Gallery Post Format 
	------------------------------------------------
*/
.wakerly-format-gallery header h1.entry-title {
  margin-top: 20px; }
.wakerly-format-gallery .standard-featured {
  height: 500px;
  color: #ffffff; }
  .wakerly-format-gallery .standard-featured:after {
    background-color: transparent; }
.wakerly-format-gallery .carousel-control {
  background: none;
  background-image: none;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 30px;
  width: auto; }
  .wakerly-format-gallery .carousel-control .preview-container {
    position: relative;
    display: block;
    padding: 20px;
    background-color: transparent;
    line-height: 0;
    -webkit-transition: background-color 320ms ease;
    -moz-transition: background-color 320ms ease;
    -ms-transition: background-color 320ms ease;
    -o-transition: background-color 320ms ease;
    transition: background-color 320ms ease; }
    .wakerly-format-gallery .carousel-control .preview-container .thumbnail-container {
      position: absolute;
      display: block;
      height: 68px;
      width: 68px;
      border-radius: 50%;
      background: #999;
      top: 1px;
      -webkit-transition: transform 320ms ease;
      -moz-transition: transform 320ms ease;
      -ms-transition: transform 320ms ease;
      -o-transition: transform 320ms ease;
      transition: transform 320ms ease;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
  .wakerly-format-gallery .carousel-control.right .preview-container {
    padding-left: 80px;
    border-radius: 35.5px 0 0 35.5px; }
    .wakerly-format-gallery .carousel-control.right .preview-container .thumbnail-container {
      left: 1px; }
  .wakerly-format-gallery .carousel-control.left .preview-container {
    padding-right: 80px;
    border-radius: 0 35.5px 35.5px 0; }
    .wakerly-format-gallery .carousel-control.left .preview-container .thumbnail-container {
      right: 1px; }
  .wakerly-format-gallery .carousel-control:hover .preview-container {
    background-color: rgba(0, 0, 0, 0.8); }
    .wakerly-format-gallery .carousel-control:hover .preview-container .thumbnail-container {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
.wakerly-format-gallery .entry-excerpt.image-caption {
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }
.wakerly-format-gallery:hover .entry-excerpt.image-caption {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0); }

/* 
	Quote Post Format 
	------------------------------------------------
*/
.wakerly-format-quote .quote-content {
  font-size: 42px;
  font-weight: 100;
  line-height: 1.3em;
  letter-spacing: 0.03em; }
  .wakerly-format-quote .quote-content:before, .wakerly-format-quote .quote-content:after {
    content: '';
    display: inline-block;
    position: relative;
    color: #ccc; }
  .wakerly-format-quote .quote-content:before {
    content: 'ΓÇ£'; }
  .wakerly-format-quote .quote-content:after {
    content: 'ΓÇ₧'; }
.wakerly-format-quote .quote-author {
  color: #898989;
  font-size: 12px;
  letter-spacing: 0.06em;
  margin-top: 10px;
  margin-block-end: 30px; }

/* 
	Link Post Format 
	------------------------------------------------
*/
.wakerly-format-link h1.entry-title:before, .wakerly-format-link h1.entry-title:after {
  display: none; }
.wakerly-format-link h1.entry-title a {
  display: block; }
.wakerly-format-link h1.entry-title .link-icon {
  display: block;
  color: #fff;
  font-size: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  line-height: 1em;
  padding-top: 10px; }

/* 
	Aside Post Format 
	------------------------------------------------
*/
.wakerly-format-aside .aside-container {
  background-color: rgba(0, 0, 0, 0.05);
  padding-top: 20px; }
.wakerly-format-aside .aside-featured {
  width: 136px;
  height: 136px;
  border-radius: 50%;
  margin: 0 auto -20px; }
.wakerly-format-aside .entry-meta {
  margin-bottom: 5px; }
.wakerly-format-aside .entry-excerpt {
  margin-top: 0; }
  .wakerly-format-aside .entry-excerpt p {
    font-size: 15px;
    padding-right: 10px; }
.wakerly-format-aside .entry-footer {
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0.05);
  padding-right: 10px; }

/* 
	Footer Section
	------------------------------------------------
*/
.wakerly-footer {
  background-color: #333;
  padding: 20px 0;
  margin-top: 40px;
  display: block; }

/* 
	Ajax Loading
	------------------------------------------------
*/
.container-load-previous {
  margin-top: 40px;
  margin-bottom: -40px; }

.wakerly-posts-container {
  padding-top: 40px; }
  .wakerly-posts-container article {
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0; }
    .wakerly-posts-container article.reveal {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }

.btn-wakerly-load {
  display: block;
  width: 200px;
  color: #222;
  font-size: 30px;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 320ms ease;
  -moz-transition: opacity 320ms ease;
  -ms-transition: opacity 320ms ease;
  -o-transition: opacity 320ms ease;
  transition: opacity 320ms ease; }
  .btn-wakerly-load:hover, .btn-wakerly-load:focus, .btn-wakerly-load.loading {
    opacity: 1; }
  .btn-wakerly-load.loading {
    cursor: default; }
  .btn-wakerly-load span {
    display: block; }

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

/* 
	Single
	------------------------------------------------
*/
.entry-content {
  margin-top: 40px;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: 300;
  line-height: 1.7em; }
  .entry-content a,
  .entry-content .wakerly-tooltip,
  .entry-content .wakerly-popover {
    cursor: pointer;
    color: #ff9d1d; }
    .entry-content a:hover, .entry-content a:focus,
    .entry-content .wakerly-tooltip:hover,
    .entry-content .wakerly-tooltip:focus,
    .entry-content .wakerly-popover:hover,
    .entry-content .wakerly-popover:focus {
      color: #F56B08; }
  .entry-content p {
    margin-bottom: 15px;
    color: #494471; }
  .entry-content b,
  .entry-content strong {
    font-weight: 500; }

.post-link-nav {
  padding: 10px 0; }
  .post-link-nav a {
    padding: 0 5px; }
    .post-link-nav a:hover, .post-link-nav a:focus {
      color: #ff9d1d; }

/* 
	Sharing section
	------------------------------------------------
*/
.wakerly-shareThis {
  display: block;
  text-align: center;
  border-top: 1px solid #F1F1F1;
  padding-top: 10px;
  clear: both; }
  .wakerly-shareThis ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .wakerly-shareThis ul li {
      float: none;
      display: inline-block; }
  .wakerly-shareThis a {
    display: inline-block;
    font-size: 20px;
    opacity: 0.65;
    margin: 0 5px;
    color: #000000; }
    .wakerly-shareThis a:hover, .wakerly-shareThis a:focus {
      opacity: 1;
      color: #000000; }

/* 
	Comment section
	------------------------------------------------
*/
.comments-area {
  border-top: 4px solid #F1F1F1;
  margin-top: 40px; }

.last-field {
  margin-bottom: 50px; }

.comment-list {
  padding: 0;
  list-style: none; }

.comment-body {
  padding-bottom: 0; }

.children {
  background-color: #F5F5F5;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  margin-left: 60px; }
  .children .comment-author:before {
    background-color: #fff; }

.comment-author {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 300; }
  .comment-author:before {
    position: absolute;
    content: '';
    display: block;
    top: 10px;
    bottom: 13px;
    left: 40px;
    right: 0;
    background-color: #f5f5f5;
    z-index: 1;
    border-radius: 4px; }
  .comment-author * {
    z-index: 1;
    position: relative; }
  .comment-author b {
    font-weight: 400; }
  .comment-author .avatar {
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #fff; }

.comment-metadata {
  text-align: right;
  text-transform: uppercase;
  margin-top: -5px;
  font-size: 12px; }
  .comment-metadata a {
    color: #999; }

.comment-content {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid #E6E6E6;
  margin-left: 60px; }

.reply {
  text-align: right;
  padding: 5px 0; }

a.comment-reply-link {
  text-transform: uppercase;
  color: #494471; }
  a.comment-reply-link:hover, a.comment-reply-link:focus {
    color: #343151; }

.comment-respond {
  margin-top: 60px; }

/*# sourceMappingURL=wakerly.css.map */
