/*
	@package wakerlytheme
*/

/* 
	Font Icon 
	------------------------------------------------
*/


@font-face {
    font-family: 'kreonbold';
    src: url('../fonts/kreon-bold-wakerly.eot');
    src: url('../fonts/kreon-bold-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kreon-bold-wakerly.woff2') format('woff2'),
         url('../fonts/kreon-bold-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kreonlight';
    src: url('../fonts/kreon-light-wakerly.eot');
    src: url('../fonts/kreon-light-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kreon-light-wakerly.woff2') format('woff2'),
         url('../fonts/kreon-light-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'kreonregular';
    src: url('../fonts/kreon-regular-wakerly.eot');
    src: url('../fonts/kreon-regular-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kreon-regular-wakerly.woff2') format('woff2'),
         url('../fonts/kreon-regular-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-bold-wakerly.eot');
    src: url('../fonts/ubuntu-bold-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-bold-wakerly.woff2') format('woff2'),
         url('../fonts/ubuntu-bold-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntubold_italic';
    src: url('../fonts/ubuntu-bolditalic-wakerly.eot');
    src: url('../fonts/ubuntu-bolditalic-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-bolditalic-wakerly.woff2') format('woff2'),
         url('../fonts/ubuntu-bolditalic-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntuitalic';
    src: url('../fonts/ubuntu-italic-wakerly.eot');
    src: url('../fonts/ubuntu-italic-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-italic-wakerly.woff2') format('woff2'),
         url('../fonts/ubuntu-italic-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-light-wakerly.eot');
    src: url('../fonts/ubuntu-light-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-light-wakerly.woff2') format('woff2'),
         url('../fonts/ubuntu-light-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntulight_italic';
    src: url('../fonts/ubuntu-lightitalic-wakerly.eot');
    src: url('../fonts/ubuntu-lightitalic-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-lightitalic-wakerly.woff2') format('woff2'),
         url('../fonts/ubuntu-lightitalic-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-medium-wakerly.eot');
    src: url('../fonts/ubuntu-medium-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-medium-wakerly.woff2') format('woff2'),
         url('../fonts/ubuntu-medium-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('../fonts/ubuntu-mediumitalic-wakerly.eot');
    src: url('../fonts/ubuntu-mediumitalic-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-mediumitalic-wakerly.woff2') format('woff2'),
         url('../fonts/ubuntu-mediumitalic-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-regular-wakerly.eot');
    src: url('../fonts/ubuntu-regular-wakerly.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-regular-wakerly.woff2') format('woff2'),
         url('../fonts/ubuntu-regular-wakerly.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'wakerly-icon';
    src:    url('../fonts/wakerly-icon.eot?o1l4o7');
    src:    url('../fonts/wakerly-icon.eot?o1l4o7#iefix') format('embedded-opentype'),
        url('../fonts/wakerly-icon.ttf?o1l4o7') format('truetype'),
        url('../fonts/wakerly-icon.woff?o1l4o7') format('woff'),
        url('../fonts/wakerly-icon.svg?o1l4o7#wakerly-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wakerly-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wakerly-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wakerly-twitter:before {
    content: "\e900";
}
.wakerly-googleplus:before {
    content: "\e901";
}
.wakerly-facebook:before {
    content: "\e902";
}
.wakerly-audio:before {
    content: "\e800";
}
.wakerly-chevron-left:before {
    content: "\e801";
}
.wakerly-chevron-right:before {
    content: "\e802";
}
.wakerly-close:before {
    content: "\e803";
}
.wakerly-comment:before {
    content: "\e804";
}
.wakerly-link:before {
    content: "\e805";
}
.wakerly-loading:before {
    content: "\e806";
}
.wakerly-logo:before {
    content: "\e807";
}
.wakerly-menu:before {
    content: "\e808";
}
.wakerly-pencil:before {
    content: "\e809";
}
.wakerly-pics:before {
    content: "\e80a";
}
.wakerly-search:before {
    content: "\e80b";
}
.wakerly-share:before {
    content: "\e80c";
}
.wakerly-tag:before {
    content: "\e80d";
}
.wakerly-video:before {
    content: "\e80e";
}

