/*
  @package wakerlytheme
*/

/*
Images
*/

.santa {
  display: block;
  position: relative;    
  width: 218px;
  height: 327px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: url('../img/santa.png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  background-color: rgba(222, 222, 222, 0);
  border-color: rgba(222, 222, 222, 0);    
}

.logo {
  display: block;
  position: relative;    
  width: 137px;
  height: 95px;
  margin-right: auto;
  margin-left: auto;  
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left left;
  background-color: rgba(222, 222, 222, 0);
  border-color: rgba(222, 222, 222, 0);  
  
}

.logo:hover {    
    border-color: rgba(222, 222, 222, 0);
}

.logo:focus {     
    outline:0;  
}

/* 
 Sections
*/

.check {
  position: relative;
  float: left;  
  width: 50%;
  height: 100%;
  background-image: url('../img/bigcheck.png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  background-color: rgb(73, 68, 113);
}

.ex {
  position: relative;
  float: left;  
  width: 50%;
  height: 100%;
  background-image: url('../img/bigx.png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  background-color: rgb(182, 47, 82);
}

.main_section {
  text-position: center;
  position: relative;
  float: left;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 10px;
  padding-bottom: 80px;
  border-left-width: 1px;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(52, 49, 81);
  border-left-color: rgb(0, 0, 0);
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  background-image: url('../img/bg1.png');
  background-size: cover;
  background-position: center center;
  background-color: rgb(73, 68, 113);
}

.blue_section {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg3.png');
  background-size: auto auto;
  background-position: center center;  
}

.element {
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 100%;
  height: 100%; 
  border-top-width: 10px;
  border-top-color: rgb(52, 49, 81);
  border-top-style: solid;
  background-color: rgba(73, 68, 113, 0.93);
  padding-top:20px;
  padding-bottom:20px
}

.yellow_section {
  float: left;
  clear: both;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg-haha.png');
  background-size: auto auto;
  background-position: center center;
  background-color: rgb(248, 214, 98);
  padding-top:20px;
  padding-bottom:20px
}

.white_section {
  float: left;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg-haha.png');
  background-size: cover;
  background-position: center center;
  background-color: rgb(255, 255, 255);
  padding-top:20px;
  padding-bottom:20px
}

.red_section {
  float: left;
  clear: both;
  width: 100%;
  height: 100%;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-top-color: rgb(141, 37, 64);
  border-bottom-color: rgb(182, 47, 82);
  border-top-style: solid;
  border-bottom-style: solid;
  background-image: url('../img/b2.png');
  background-size: auto auto;
  background-position: left top;
  padding-top:20px;
  padding-bottom:20px
}

.dark_section {
  float: left;
  clear: both;
  width: 100%;
  height: 100%;  
  background-size: auto auto;
  background-position: left top;
  padding-top:20px;
  padding-bottom:20px;
  background-color: rgb(55, 54, 70);
}



/*
  Button
  ------------------------------------------- 
*/
.wakerly_button {  
  display: block;
  position: relative;  
  width: 29.6666666666%;
  height: 61px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: url('../img/button.png');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
  background-color: rgba(222, 222, 222, 0);
  border-color: rgba(222, 222, 222, 0);
  font-family: kreonbold;
  font-size: 20px;
  text-align: center;
  color: white;
}
.wakerly_button:hover {    
    color: rgb(120, 113, 170);
}

.wakerly_button:focus {     
    outline:0;

}


/* 
 New Header 
  ------------------------------------------------
*/
.new_header-container { @extend %text-shadow; position: relative; display: block; height: 220px; background-color: rgb(73, 68, 113); background-image: url('../img/bg-haha.png') }


.new_nav-container { position: absolute; bottom: 0; left: 0; right: 0; }

/* 
  New Nav Bar 
  ------------------------------------------------
*/
.new_navbar-wakerly { text-align: center; border: none; border-radius: 0; min-height: auto; margin-bottom: 0; background: rgb(182, 47, 82); border-top: 1px solid rgba( 255,255,255,0.1); box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  ul { float: none; }
  li { float: none; display: inline-block;
    &.active {
      a { opacity: 1;
        &:after { @include transform( translateY(0) ); opacity: 1; }
      }
    }
    &.open {
      a { opacity: 1; background-color: rgba(0,0,0,0.1)!important;
        &:after { @include transform( translateY(10px) ); opacity: 0!important; }
        &:hover,
        &:focus,
        &:visited { background-color: rgba(0,0,0,0.1)!important;
          &:after { @include transform( translateY(10px) ); opacity: 0!important; }
        }
      }
    }
    a { text-transform: uppercase; color: #fff; font-size: 12px; opacity: 0.7; letter-spacing: 0.05em; background: none; @include animate( opacity, 320ms );
      &:hover,
      &:focus,
      &:visited { background: none; opacity: 1; 
        &:after { @include transform( translateY(0) ); opacity: 1; }
      }
      &:after { content: ''; position: absolute; display: block; left: 15px; right: 15px; bottom: 14px; height: 2px; background: #fff; @include animate( all, 320ms ); opacity: 0; @include transform( translateY(10px) ); }
    }
    ul.dropdown-menu { border: 0; border-radius: 0; background: rgba(0,0,0,0.75); 
      li { display: block; 
        a {
          &:hover,
          &:focus,
          &:visited { background: rgba(0,0,0,0.25)!important; color: #fff; }
        }
      }
    }
  }
}
